<?php
    // Prepare options for the dropdown
    $options = [];
    if (!empty($icons)) {
        foreach ($icons as $icon) {
            $options[$icon['class']] = [
                'label' => $icon['name'],
                'icon' => $icon['class'],
                'keywords' => $icon['keywords'] ?? ''
            ];
        }
    }
    
    $useSearch = true;
    $fieldValue = $value ?: '';
?>

<div class="icon-picker-widget" data-control="iconpicker" data-widget-id="<?= $this->getId() ?>">
    <select
        id="<?= $this->getId('select') ?>"
        name="<?= $name ?>"
        class="form-control custom-select icon-picker-select"
        data-placeholder="Select an icon"
    >
        <option value=""></option>
        <?php foreach ($options as $value => $option): ?>
            <option
                value="<?= e($value) ?>"
                data-icon="<?= e($option['icon']) ?>"
                data-keywords="<?= e($option['keywords']) ?>"
                <?= ($fieldValue === $value) ? 'selected="selected"' : '' ?>
            ><?= e($option['label']) ?></option>
        <?php endforeach; ?>
    </select>
</div>

